/*Variables*/

:root {
  --tea-green: #e8ffb7ff;
  --languid-lavender: #e8d7ffff;
  --tart-orange: #fe4a49ff;
}

* {
  margin: 0;
  padding: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: var(--tart-orange, purple);

}

.App {

  text-align: center;

}

.boton {

  font-size: 7vmin;
}